.mainContainer {
  margin-top: 1rem;
}

.container {
  display: flex;
  padding: 2rem 2rem 2rem 0px;
}

.container img {
  width: 20rem;
  height: 20rem;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  justify-content: space-around;
}

.buttonDiv {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.details button {
  padding: 0.5rem;
  cursor: pointer;
}
